.grille {
	width: 90%;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 22% 56% 22%;
	margin:auto;
}

.content-form {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
}

#Alexa01 {
	grid-row: 1 / span 1;
	grid-column: 1 / span 1;
	overflow:hidden;
}

#Alexa01 div{
	animation-name: float_Alexa;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: 4s;
}

#Alexa01 img, #Alexa02 img{
	margin-top: 50px;
	width:100%;
}

#Alexa02{
	grid-row: 1 / span 1;
	grid-column: 3 / span 1;
	overflow:hidden;
}
#Alexa02 div{
	animation-name: float_Alexa;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: 5s;
}

/*animations*/
@keyframes float_Alexa {
	0% {width: 250px;}
	25% {margin-top: 10px; transform: rotate(5deg);}
	50% {width: 247px; margin-top: 5px; margin-left: -10px; transform: rotate(2deg);}
	75% {margin-bottom: 6px; transform: rotate(-5deg);}
	100% {width: 250px; margin-bottom: 12px; margin-right: 10px; transform: rotate(-2deg);}
}

