/*import formulaire*/
@import url('CSS/form.css');
@import url('CSS/grille.css');

/*style page*/
body {
	background-color: #312f30;
	background-image: url('Images/araignée.png');
	background-position: center;
	background-size: 100%;
	height: 100%;
}

h1 {
	font-family: 'Titillium Web', sans-serif;
	color: #59bdb3;
	font-size: 4vw;
}

h2 {
	font-family: 'Muli', sans-serif;
	color: rgb(220,220,220);
	margin-bottom: 2vw;
}

p {
	font-family: 'Muli', sans-serif;
	font-size: 1vw;
	color: rgb(220,220,220);
}


.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: auto;
	margin-bottom: 50px;
	text-align: center;
}

#logo {
	position: absolute;
	margin-top: 10px;
	margin-left: 5px;
	width: 20%;
}


@media screen and (max-width: 1000px){

	.content {
		width: 90%;
		margin: auto;
	}
	
	.formulaire{ 
		width: 300px;
		height: 160px;
	}

	form { font-size: 12px; }

	input {
		width: 50px;
		padding: 2px;
		font-size: 10px;
		margin-bottom: 5px;
	}

	.bas { height: 50px; }

	#btn-envoi {
		width: 60px;
		height: 25px;
		font-size: 13px;
	}

	#btn-envoi:hover {
		width: 63px;
		height: 27px;
	}

	.grille {margin-top: 50px;}

}

@media (orientation: portrait) {

	#Alexa01 {display: none}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		overflow-y:hidden;
	}

	.logo{
		text-align:center;
	}
	.grille {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content {
		margin-top: 80px;
		margin-bottom: 40px;
	}

	#logo {
		width: 34%;
	}

	.formulaire{ 
		width: 350px;
		height: 300px;
		margin-bottom: 50px;
	}

	form { font-size: 20px; }

	input {
		width: 45px;
		padding: 5px;
		font-size: 10px;
		margin-bottom: 25px;
	}

	.bas { 
		height: 50px; 
		margin-bottom: 10px;

	}

	#btn-envoi {
		width: 60px;
		height: 25px;
		font-size: 13px;
	}

	#btn-envoi:hover {
		width: 63px;
		height: 27px;
	}

	#Alexa02 img{
		width: 160%;
		margin-top: -60px;
	}

	#Alexa02 {
		margin-right: 150px;
	}

}